//<INPUT>
// Сниппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	// border-radius: 0 !important;
	width: 0%;
	transition: width 0.3s;
	display: block;
	padding: 0px 20px;
	
	// caret-color: inherit;
	padding: 10px toRem(10);
	border-radius: 10px;
	border: 0;
	color: #fff;
	._dark & {
		color: #000;

	}
	._active & {
		width: 100%;
		border: 2px solid #eee;
	}
	&:focus {
		outline: 0;
	}
	&._form-focus {
	}
	&._form-error {
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}
