.header {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px toRem(0);
	background-color: black;
	transition: background-color 0.5s;
	&._dark {
		background-color: white;
	}
	&__container {
		@media (min-width:$tablet){
			display: grid;
		}
		max-width: 1700px;
		grid-template-columns: auto auto 150px auto;
		align-items: center;
		@media (max-width: 1460px) and (min-width:$tablet){
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			justify-items: center;
		}
	}

	&__link {
		font-size: 22px;
		color: #fff;
		transition: color 0.3s;
		
		._dark & {
			color: #366;
		}
		@media (max-width:$tablet){
			@include adaptiveValue("font-size", 40, 22,0,1000,360);
		}
	}

	&__menu {
		@media (max-width: 1460px){
			grid-row: 1 / 2;
			grid-column: 1 / 4;
			justify-items: center;
		}
	}

	&__logo {
		._dark & svg g path:not(.not-color) {
			fill: #366;
		}
		@media (min-width:$tablet){
			margin: 0 toRem(50);
		}
		@media (max-width:$tablet){
			position: relative;
			z-index: 2;
			margin-inline: auto;
		}
	}

	&__search {
	}

	&__bottom-menu {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		margin-top: auto;
		
		@media (min-width:$tablet){
			 display: none; 
		}
	}
}
.menu {

	&__icon {
	}

	&__body {
	}

	&__list {
		
	}

	&__item {
	}

	&__link {
	
	}
}
.icon-menu {
}
.search {
	position: relative;
	@media (min-width:1460px){
		 margin-right: 10px; 
	}
	
	&__img {
		
	}

	&__form {
		position: relative;
		width: 0;
		._active & {
			width: auto;
		}
	}

	&__label {
		transition: left 0.3s;
		cursor: pointer;
		svg {
			position: absolute;
			transition: left 0.3s, right 0.3s;
		top: 50%;
		left: 5px;
		transform: translateY(-50%);
		._dark & g {
			fill: #366;
		}
		}
		._active & svg {
			// left: 75%;
			left: initial;
			right: 5px;
		}
	}

	
}
.input {
}
